<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/SYN/Answer%20Lab%201a/Lab1a_SYN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 1A : Understanding Your Dataset**
### Chipotles Sales Dataset

#### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

#### Step 2. Import the dataset from this address

In [ ]:
path = "https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv"

#### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv(path, delimiter='\t')

# Display the DataFrame
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

#### Step 5. What is the number of observations in the dataset?

##### Solution 1: Using len() function

In [ ]:

num_observations = len(chipo)
print("Number of observations in the dataset (Solution 1):", num_observations)

Number of observations in the dataset (Solution 1): 4622

##### Solution 2: Using shape attribute

In [ ]:
num_observations = chipo.shape[0]
print("Number of observations in the dataset (Solution 2):", num_observations)

Number of observations in the dataset (Solution 2): 4622

#### Step 6. What is the number of columns in the dataset?

In [ ]:
num_columns = chipo.shape[1]
print("Number of columns in the dataset:", num_columns)

Number of columns in the dataset: 5

#### Step 7. Print the name of all the columns.

In [ ]:
print("Names of all columns:")
chipo.columns

Names of all columns:

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#### Step 8. How is the dataset indexed?

In [ ]:
print("Index of the dataset:")
chipo.index

Index of the dataset:

RangeIndex(start=0, stop=4622, step=1)

#### Step 9. Which was the most-ordered item?

In [ ]:
itemcount = chipo.groupby('item_name')['quantity'].sum()

most_ordered_items = itemcount.idxmax()

print("The most-ordered item is:", most_ordered_items)

The most-ordered item is: Chicken Bowl

#### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:

quantity_ordered = itemcount.max()

print(f"Number of most-ordered item: {quantity_ordered}")

Number of most-ordered item: 761

#### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
choice_description = chipo.groupby('choice_description')['quantity'].sum()

most_ordered_choice_description = choice_description.idxmax()

print("The most-ordered choice description is:", most_ordered_choice_description)

The most-ordered choice description is: [Diet Coke]

#### Step 12. How many items were orderd in total?

In [ ]:
total_items_ordered = chipo['quantity'].sum()

print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

#### Step 13. Turn the item price into a float

In [ ]:
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float)

<ipython-input-51-a656ab283fb4>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float)

##### Step 13.a. Check the item price type

In [ ]:
print("Data type of 'item_price' column:", chipo['item_price'].dtype)

Data type of 'item_price' column: float64

##### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')) if isinstance(x, str) else x)

##### Step 13.c. Check the item price type

In [ ]:
print("Data type of 'item_price' column:", chipo['item_price'].dtype)

Data type of 'item_price' column: float64

#### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
chipo['revenue'] = chipo['item_price'] * chipo['quantity']

total_revenue = chipo['revenue'].sum()

print("Total revenue for the period:", total_revenue)

Total revenue for the period: 39237.02

#### Step 15. How many orders were made in the period?

In [ ]:
num_orders = chipo['order_id'].nunique()

print("Number of orders made in the period:", num_orders)

Number of orders made in the period: 1834

#### Step 16. What is the average revenue amount per order?

###### Solution 1 : Using GroupBy and Mean

In [ ]:
order_revenue = chipo.groupby('order_id')['revenue'].sum()

average_revenue_per_order = order_revenue.mean()

print("Average revenue amount per order (Solution 1):", average_revenue_per_order)

Average revenue amount per order (Solution 1): 21.39423118865867

##### Solution 2 : Use lambda and reduce[ ] method

In [ ]:
from functools import reduce

order_revenue = chipo.groupby('order_id')['revenue'].sum()

average_revenue_per_order = reduce(lambda x, y: x + y, order_revenue) / len(order_revenue)

print("Average revenue amount per order (Solution 2):", average_revenue_per_order)

Average revenue amount per order (Solution 2): 21.394231188658654

#### Step 17. How many different items are sold?

In [ ]:
num_different_items = chipo['item_name'].nunique()

print("Number of different items sold:", num_different_items)

Number of different items sold: 50