# Lab 1d - Filtering and Sorting Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

checking the datatype for column "item_price", we notice that the dtype of the column is an object.

In [3]:
chipo['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

changing the datatype for column "item_price" from object to float64

In [4]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(float)
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

determining the quantity of products that cost more than $10.00

In [5]:
chipo_ten = np.count_nonzero(chipo['item_price'] > 10)
print("Quantity of products ordered that are more than $10.00: ", chipo_ten)

Quantity of products ordered that are more than $10.00:  1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

printed below is a df of only 2 columns, "item_name" and also "item_price", showcasing each item with respective price

In [6]:
chipotle = chipo.groupby('item_name')[['item_price']].min()
chipotle

                                       item_price
item_name
6 Pack Soft Drink                            6.49
Barbacoa Bowl                                8.69
Barbacoa Burrito                             8.69
Barbacoa Crispy Tacos                        8.99
Barbacoa Salad Bowl                          9.39
Barbacoa Soft Tacos                          8.99
Bottled Water                                1.09
Bowl                                         7.40
Burrito                                      7.40
Canned Soda                                  1.09
Canned Soft Drink                            1.25
Carnitas Bowl                                8.99
Carnitas Burrito                             8.69
Carnitas Crispy Tacos                        8.99
Carnitas Salad                               8.99
Carnitas Salad Bowl                          9.39
Carnitas Soft Tacos                          8.99
Chicken Bowl                                 8.19
Chicken Burrito                              8.19
Chicken Crispy Tacos                         8.49
Chicken Salad                                8.19
Chicken Salad Bowl                           8.75
Chicken Soft Tacos                           8.49
Chips                                        1.99
Chips and Fresh Tomato Salsa                 2.29
Chips and Guacamole                          3.89
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           2.95
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Green Chili Salsa        2.95
Chips and Tomatillo Red Chili Salsa          2.95
Chips and Tomatillo-Green Chili Salsa        2.39
Chips and Tomatillo-Red Chili Salsa          2.39
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             3.39
Salad                                        7.40
Side of Chips                                1.69
Steak Bowl                                   8.69
Steak Burrito                                8.69
Steak Crispy Tacos                           8.69
Steak Salad                                  8.69
Steak Salad Bowl                             9.39
Steak Soft Tacos                             8.99
Veggie Bowl                                  8.49
Veggie Burrito                               8.49
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                            8.75
Veggie Soft Tacos                            8.49

### Step 6. Sort by the name of the item

below is the sorted df by "item_name" in ascending order, with new assigned index

In [7]:
chipo.sort_values(by='item_name', ascending=True).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

below is code to find the most expensive order, assigned the values to a new df called "chipo_exp"

In [15]:
chipo_exp = chipo[chipo['item_price']==chipo['item_price'].max()]
chipo_exp
for i in chipo_exp['quantity']:
    if i!=0:
        print("The quantity of the most expensive item ordered is: ",i)

The quantity of the most expensive item ordered is:  15

### Step 8. How many times was a Veggie Salad Bowl ordered?

referring to original df

In [16]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

finding "Veggie Salad Bowl" order, making a new df of them and summing up the quantity

In [20]:
veggie = chipo[chipo['item_name']=='Veggie Salad Bowl']
veggie.quantity.sum()
print("The quantity of Veggie Salad Bowl ordered is: ",veggie.quantity.sum())

The quantity of Veggie Salad Bowl ordered is:  18

### Step 9. How many times did someone order more than one Canned Soda?

In [29]:
soda = chipo[chipo['item_name']=='Canned Soda']
soda = soda[soda['quantity']>1]
print("The number of times people ordered more than 1 soda is: " , len(soda))

The number of times people ordered more than 1 soda is:  20